<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict><key>CoreName</key><string>Linux 1.0</string><key>table</key><dict><key>belong</key><string>Kernel</string><key>connect</key><array><string>UNIX</string></array></dict></dict></plist>
